.mainContainer {
    width: 100%;
    text-align: center;
}

.carouselContainer {
    width: 100%;
}

p-carousel {
    width: 100%;
    text-align: center;
}

.searchAreaContainer {
    display: flex;
    padding: 1%;
    column-gap: 0.3%;
}

#closeResultsButton {
    margin-left: auto;
}

#searchInput {
    display: inline-flex;
    gap: 3%;
}

.recipeContainer {
    text-align: center;
}

table {
    width: 30%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

table,
tr,
td {
    text-align: center;
}

#instructions {
    padding-bottom: 2%;
}

.aboutProject>h5,
.aboutProject>p {
    text-align: left;
}

.aboutProject>ul {
    list-style: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 0px;
}
a:visited {
    color: #dedede
}