@import "primeng/resources/themes/luna-green/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "devicon/devicon.min.css";

body {
    font-family: var(--font-family);
    background-image: url('assets/images/img_earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
